/* General stuff */

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}
.image {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: .75;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Menu */
.navbar-brand {
  padding: 0px 15px;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar::before {
  position:absolute;
  left:-60px;
  top:0px;
  content:'';
  border-top: 60px solid #fff;
  border-left: 60px solid transparent;
}
.navbar::after {
  position:absolute;
  right:-60px;
  top:0px;
  content:'';
  border-top: 60px solid #fff;
  border-right: 60px solid transparent;
}
.navbar {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  z-index: 9999;
  height: 60px;
  background-color: #fff;
  padding: 5px;
}

/* Navbar Transitions */
.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar a, .dropdown {
  border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  border-bottom: 2px solid #FF774F;
  transition: 0.3s;
}

/* Page layout */
.right-area {
  position: relative;
  width: 100%;
}
.content {
  padding: 20px 60px;
}
#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#header h1 {
  margin-bottom: -10px;
}
#header h2 {
  color: #ddd;
  font-weight: 300;
}
#add-post {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 100;
  background-color: #e9e9e9;
  transition: .5s;
}
.login-area, .notfound-area {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login-area>div {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.notfound-area>div {
  display: table-cell;
  width: 100%;
  height: 100%;
  margin-top: 20vh;
  position: absolute;
  font-size: 1.2em;
}
.login-form::before, .login-form::after, .notfound-form::before, .notfound-form::after {
  display: table;
  content: " ";
}
.login-form::after, .notfound-form::after {
  clear: both;
}
.login-form, .notfound-form {
  max-width: 500px;
  margin: 3rem auto;
  background: rgba(245,245,245,.8) !important;
  padding: 20px 40px;
}
.login-header, .notfound-header {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.notfound-header {
  font-size: 3em;
}

/* Profiles */
.profile-container img {
  max-width: 100%;
  height: auto;
}

/* Buttons */

.button-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 8000;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0px solid;
  background-color: #4d94ff;
  color: #fff;
  box-shadow: 0px 2px 4px #777;
  transition: 0.2s ease;
}
.circle:hover {
  box-shadow: 0px 2px 4px #555;
  background-color: #3485ff;
}
.circle:hover, .circle:visited, .circle:focus, .circle:active {
  outline: none;
}
