/* General stuff */

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}
.image {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: .75;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.center-align {
  text-align: center;
}

/* Menu */
.navbar-brand {
  padding: 0px 15px;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar::before {
  position:absolute;
  left:-60px;
  top:0px;
  content:'';
  border-top: 60px solid #fff;
  border-left: 60px solid transparent;
}
.navbar::after {
  position:absolute;
  right:-60px;
  top:0px;
  content:'';
  border-top: 60px solid #fff;
  border-right: 60px solid transparent;
}
.navbar {
  background-color: #fff;
  border-radius: 0px;
  border: 0px;
  z-index: 9999;
  height: 60px;
  padding: 5px;
}

/* Page layout */

.wrapper {
  padding-left: 250px;
}
.right-area {
  position: relative;
  width: 100%;
}
.content {
  padding: 20px 60px;
}
#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#header h1 {
  margin-bottom: -10px;
}
#header h2 {
  color: #ddd;
  font-weight: 300;
}
#add-post {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 100;
  background-color: #e9e9e9;
  transition: .5s;
}
.login-area {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login-area>div {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.login-form::before, .login-form::after {
  display: table;
  content: " ";
}
.login-form::after {
  clear: both;
}
.login-form {
  max-width: 500px;
  margin: 3rem auto;
  background: rgba(245,245,245,.8) !important;
  padding: 40px;
}
.login-header {
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* Buttons */

.button-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 8000;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0px solid;
  background-color: #4d94ff;
  color: #fff;
  box-shadow: 0px 2px 4px #777;
  transition: 0.2s ease;
}
.circle:hover {
  box-shadow: 0px 2px 4px #555;
  background-color: #3485ff;
}
.circle:hover, .circle:visited, .circle:focus, .circle:active {
  outline: none;
}
