.btn {
  padding: 14px 24px;
  transition: 0.3s;
  border: 0 none;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn-primary {
  background: $brand-primary;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: $link-hover-color;
}
.btn-primary:active, .btn-primary.active {
  background: $link-hover-color;
  box-shadow: none;
}
.cut-out:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 24px solid #232930;
  border-left: 24px solid transparent;
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 0;
}
.cut-out-light:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 24px solid #363e44;
  border-left: 24px solid transparent;
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 0;
}
