/* Page layout */
.content {
  padding: 20px 60px;
}
#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 20px;
  h1 {
    margin-bottom: -10px;
  }
  h2 {
    color: $gray-light;
    font-weight: 300;
  }
}
.home-center-area {
  margin: 3rem auto;
}
.margin-right {
  margin-right: 20px;
}
.social-accounts {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  left: 0px;
}
.social-accounts a {
  font-size: 20px;
  color: #00A8E8;
}
.social-accounts a:hover {
  color: darken(#00A8E8, 7.5%);
}
