$borders: lighten($gray-base, 75%);
/* Profiles */
.profile-container {
  img {
    max-width: 100%;
    height: auto;
  }
}
.avatarInput {
  img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  input {
    display: none;
  }
}
.coverInput {
  img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  input {
    display: none;
  }
}
#bio-field {
  height: 156px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: 0px 0px 0px;
  border-bottom: 2px solid #ddd;
}
#bio-field:active, #bio-field:focus, #bio-field:hover {
  border-bottom: 2px solid $brand-primary;
}
.wrapper {
  margin-top: -60px;
}
.cover-photo {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid $borders;
  background-position: 50% 50%;
  background-size: cover;
}
.profile-top {
  margin-top: -125px;
}
