$borders: lighten($gray-base, 75%);
/* Profiles */
.profile-wrapper {
  margin-top: 120px;
}
.profile-container {
  img {
    max-width: 100%;
    height: auto;
  }
}
.avatarInput {
  img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  input {
    display: none;
  }
}
.coverInput {
  img:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  input {
    display: none;
  }
}
.profile-avatar {
  width: 100%;
}
.bio {
  word-break: break-word;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 1.3em;
  }
  li:before {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
  }
}
.wrapper {
  margin-top: -60px;
}
.cover-photo {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid $brand-primary;
  background-position: 50% 50%;
  background-size: cover;
}
.profile-top {
  margin-top: -125px;
}
.label {
  margin-right: 10px;
}
.admin {
  background-color: $brand-success;
}
.trial {
  background-color: $brand-danger;
}
.member {
  background-color: $brand-primary;
}
.streamer {
  background-color: #6441A5;
}
.youtuber {
  background-color: #e52d27;
}
.badges {
  font-weight: 300;
  a:hover {
    text-decoration: none;
  }
}
